<div class="list-wrap">
<% @lists.each do |list| %>

 <div class="list-box">
   <%= attachment_image_tag list,:image, :fill, 100 , 100, format:'jpeg' %>
    <div class="list-comment">
      <sapn class="list-body"><%= list.body %></sapn>
      <span class="list-title"><%= link_to list.title, todolist_path(list.id) %></span>
    </div>
  </div>
<% end %>
</div>